#title {
  font-size: 30px;
  color: #e1e8ec;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
}

body {
  background-color: #253237;
  padding: 25px;
}

p {
  color: #e1e8ec;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding-top: 22px;
}

.example-photos {
  padding-right: 12px;
  padding-bottom: 12px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.button-35 {
  align-items: center;
  background-color: #e1e8ec;
  border-radius: 12px;
  box-sizing: border-box;
  color: #253237;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #E0FBFC 0 0 0 3px, transparent 0 0 0 0;
}

.down {
  padding-top: 10px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(4px);
}